/*ul.myList{
    display: inline-block;
    text-align: left;
}

.container{
    text-align: center;
    color: darkred;
}

.gridLayout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}*/